.samePaper {
    display: flex;
    gap: 10px;
    padding: 5px;
    background: #363666;
}

.barDiv {
    display: flex;
    gap: 5px;
    background: #fff;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resultStack {
    display: flex;
    flex-direction: column;
    gap: auto;
}

.resultBar {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.resultRow {
    display: flex;
    gap: 20px;
}

.result {
    color: black;
    font-size: 24px;
}

.hugPaper {
    display: flex;
    gap: 20px;
    padding: 15px
}

.resultVal {
    width: "100px";
    background: "#f4f4f4";
    color: black;
}

.mainBar {
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100px;
}

h1{
    font-size: 24px;
}


